# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-dev-only-change-me
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:3000

# Database (default sqlite)
DB_ENGINE=sqlite

# If using Postgres:
# DB_ENGINE=postgres
# POSTGRES_DB=sme_scoring
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432