# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=diy3e_e%_5y)q@1%nlq=kj@+!gdh*18+y$2$kh-i5t+u5)9)!w
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:3000
DJANGO_CORS_ALLOW_ALL=0

# Database
# Default (recommended for local): SQLite
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sme_scoring
DB_USER=postgres
DB_PASSWORD=ima@2002
DB_HOST=localhost
DB_PORT=5432

# If using Postgres:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=sme_scoring
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432
